@{
    ViewBag.Title = "Home Page";
}

<div id="editSection">
    
</div>


@section scripts{
   <script>
       $(function () {
           var Editor = require('tui-editor');
           var editor = new Editor({
               el: document.querySelector('#editSection'),
               initialEditType: 'markdown',
               previewStyle: 'vertical',
               height: '300px'
           });
       }) 
  </script>
}